In [10]:
#importing
import pandas as pd
import numpy as np
from sklearn.feature_selection import VarianceThreshold

In [11]:
#loading data
df_numeric = pd.read_csv('df_numeric.csv')

In [12]:
df_numeric.head(5)

,MSSubClass,LotFrontage,LotArea,Street,LotShape,Utilities,LandSlope,OverallQual,OverallCond,YearBuilt,...,MoSold,YrSold,SalePrice,GarageYrBlt_missing_ind,LotFrontage_missing_ind,MasVnrArea_missing_ind,1stFlrSF_log,1stFlr_2ndFlr_SF,OverallGrade,SimplGarageQual
0,60,65.0,8450,2,4,4,3,7,5,2003,...,2,2008,208500,0,0,0,6.752270,1710,35,1
1,20,80.0,9600,2,4,4,3,6,8,1976,...,5,2007,181500,0,0,0,7.140453,1262,48,1
2,60,68.0,11250,2,3,4,3,7,5,2001,...,9,2008,223500,0,0,0,6.824374,1786,35,1
3,70,60.0,9550,2,3,4,3,7,5,1915,...,2,2006,140000,0,0,0,6.867974,1717,35,1
4,60,84.0,14260,2,3,4,3,8,5,2000,...,12,2008,250000,0,0,0,7.043160,2198,40,1

In [13]:
print(f"there are {df_numeric.shape[1]} features and {df_numeric.shape[0]} observations in dataset.")

there are 60 features and 1458 observations in dataset.

### Steps
1. Use features selections techniques significant features(above corr threshold) in our dataset
2. develop Model with significant features
3. add one by one other non-significant features to our Model to see how R-squared and adjust R-squared change

In [15]:
# removes all features whose variance doesn’t meet some threshold. 
#By default, it removes all zero-variance features, 
#i.e. features that have the same value in all samples.
vt = VarianceThreshold(0.25)
df_transformed = vt.fit_transform(df_numeric)

In [16]:
df_transformed

array([[6.00000e+01, 6.50000e+01, 8.45000e+03, ..., 2.08500e+05,
        1.71000e+03, 3.50000e+01],
       [2.00000e+01, 8.00000e+01, 9.60000e+03, ..., 1.81500e+05,
        1.26200e+03, 4.80000e+01],
       [6.00000e+01, 6.80000e+01, 1.12500e+04, ..., 2.23500e+05,
        1.78600e+03, 3.50000e+01],
       ...,
       [7.00000e+01, 6.60000e+01, 9.04200e+03, ..., 2.66500e+05,
        2.34000e+03, 6.30000e+01],
       [2.00000e+01, 6.80000e+01, 9.71700e+03, ..., 1.42125e+05,
        1.07800e+03, 3.00000e+01],
       [2.00000e+01, 7.50000e+01, 9.93700e+03, ..., 1.47500e+05,
        1.25600e+03, 3.00000e+01]])

In [17]:
#return True or False coresponding to variance threshold drop off columns above
#False means that feature dropped from dataset
vt.get_support()

array([ True,  True,  True, False,  True, False, False,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False, False, False,  True,  True, False])

In [18]:
#get all features has variance higher than threshold
selected_columns = df_numeric.columns[vt.get_support()]

df_transformed = pd.DataFrame(df_transformed, columns = selected_columns)

In [20]:
df_transformed.head(5)

,MSSubClass,LotFrontage,LotArea,LotShape,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice,1stFlr_2ndFlr_SF,OverallGrade
0,60.0,65.0,8450.0,4.0,7.0,5.0,2003.0,2003.0,196.0,4.0,...,0.0,0.0,0.0,0.0,0.0,2.0,2008.0,208500.0,1710.0,35.0
1,20.0,80.0,9600.0,4.0,6.0,8.0,1976.0,1976.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,5.0,2007.0,181500.0,1262.0,48.0
2,60.0,68.0,11250.0,3.0,7.0,5.0,2001.0,2002.0,162.0,4.0,...,0.0,0.0,0.0,0.0,0.0,9.0,2008.0,223500.0,1786.0,35.0
3,70.0,60.0,9550.0,3.0,7.0,5.0,1915.0,1970.0,0.0,3.0,...,272.0,0.0,0.0,0.0,0.0,2.0,2006.0,140000.0,1717.0,35.0
4,60.0,84.0,14260.0,3.0,8.0,5.0,2000.0,2000.0,350.0,4.0,...,0.0,0.0,0.0,0.0,0.0,12.0,2008.0,250000.0,2198.0,40.0